* {
	box-sizing: border-box; 
	text-decoration: none;
	font-family:Goudy Old Style;
}
nav{
	text-align: center; 
	background-color: white; 
	position:fixed;
	padding: 5px; 
	top:0;
	width:100%;
	border-bottom: double; 
}
.H-icon{
	margin: 0px 50px 0px 50px;
	transition: 0.5s;
	border-radius:50%;
}
.H-icon:hover {
	border-style: outset;
}
.A-icon{
	margin: 0px 50px 0px 50px;
	transition: 0.5s;
	border-radius:50%;
}
.A-icon:hover {
	border-style: outset;
}
.S-icon{
	margin: 0px 50px 0px 50px;
	transition: 0.5s;
	border-radius:50%;
}
.S-icon:hover {
	border-style: outset;
}
header{
	margin-top: 58px;
	font-size:22px;
	color: black; 
	border-bottom-style: double;  
	padding: 20px; 
	z-index:1; 
	background:url("https://i.pinimg.com/originals/53/15/0f/53150fac0eec44caa08030989d9562f8.gif");
	background-repeat:no-repeat;
	background-size: 100%;
		
} 

.title1{
	padding: 5px; 
	float: text; 
	margin-left: 180px; 

}	
.title2{
	padding: 5px; 
	font-size: 20px; 
	float: right;
	margin-right: 25px; 
	
}
.title2:hover {
	color: white; 
	border: outset; 
}
.title2:active{
	color: pink; 
}

.logo{
	position: fixed; 
	float: left;   
	top: 10px; 
	left: 20px; 
	z-index: 2;
}


h3{
	text-align: center; 
	color:white; 
}
#content{
	clear:both;  

}
.background {
	position:absolute; 
	z-index: -1; 
	left: 0px;
	right: 0px; 
	width: 100%;
	filter: blur(5px);
	size:cover; 
	

}


.cat1{
	font-size: 25px; 
	border: 1px solid pink;
	box-shadow: 12px 12px 5px 5px rgba(243, 48, 106, 0.32);
	float: left; 
	margin-left: 20px; 
	margin-top: 45px; 
	border-radius: 25%; 
	padding: 20px 50px 70px 50px; 
	background:url("https://i.pinimg.com/originals/08/91/d3/0891d3caa9194495b0fd8b0c3286c99e.gif");

}


.cat2{
	font-size: 25px;
	border: 1px solid pink;
	box-shadow: 12px 12px 5px 5px rgba(243, 48, 106, 0.32);
	float: left; 
	margin-left: 20px; 
	margin-top: 45px; 
	border-radius: 25%; 
	padding: 20px 50px 70px 50px; 
	background:url("https://i.pinimg.com/originals/08/91/d3/0891d3caa9194495b0fd8b0c3286c99e.gif");

}
.cat3{
	font-size: 25px;
	border: 1px solid pink;
	box-shadow: 12px 12px 5px 5px rgba(243, 48, 106, 0.32);
	float: left;
	margin-left: 20px; 
	margin-top: 45px; 
	margin-right: 20px; 
	border-radius: 25%; 
	padding: 20px 50px 70px 50px; 
	background:url("https://i.pinimg.com/originals/08/91/d3/0891d3caa9194495b0fd8b0c3286c99e.gif");
	
}
.cat4{
	font-size: 25px;
	border: 1px solid pink;
	box-shadow: 12px 12px 5px 5px rgba(243, 48, 106, 0.32);
	background:url("https://i.pinimg.com/originals/08/91/d3/0891d3caa9194495b0fd8b0c3286c99e.gif");
	float: left; 
	margin-left: 225px; 
	margin-top: 25px; 
	margin-bottom: 100px; 
	border-radius: 25%; 
	padding: 20px 50px 70px 50px; 
	clear:both; 
	
}
.cat5{
	font-size: 25px;
	border: 1px solid pink;
	box-shadow: 12px 12px 5px 5px rgba(243, 48, 106, 0.32);
	background:url("https://i.pinimg.com/originals/08/91/d3/0891d3caa9194495b0fd8b0c3286c99e.gif");
	float: left; 
	float: right; 
	margin-right: 225px; 
	margin-top: 25px; 
	margin-bottom: 100px; 
	border-radius: 25%; 
	padding: 20px 50px 70px 50px; 
	
}
.clothes{
	border-style: double; 
	border-width:  2px; 
}
.clothes:hover{
	border:10px outset pink; 
}
.clothes:active{
	border:10px outset pink; 
	border-radius: 25%; 
}

audio{
	border: 5px outset pink;
}
footer{ 
	text-align: center; 
	font-size: 15px; 
	background: white; 
	border-top-style: double; 
	clear:both;
	text-align: center;
	padding: 20px; 
}
