* {
	box-sizing:border-box;
	text-decoration: none;
	font-family:Goudy Old Style;
	
}
nav{
	text-align: center; 
	background-color: white;
	position:fixed;
	padding: 5px; 
	top:0;
	width:100%;
	border-bottom: double; 
}
.H-icon{
	margin: 0px 50px 0px 50px;
	transition: 0.5s;
	border-radius:50%;
}
.H-icon:hover {
	border-style: outset;
}
.A-icon{
	margin: 0px 50px 0px 50px;
	transition: 0.5s;
	border-radius:50%;
}
.A-icon:hover {
	border-style: outset;
}
.S-icon{
	margin: 0px 50px 0px 50px;
	transition: 0.5s;
	border-radius:50%;
}
.S-icon:hover {
	border-style: outset;
}
.logo{
	position: fixed; 
	float: left;   
	top: 10px; 
	left: 20px; 
	z-index: 2;
}
header{
	text-align: center; 
	margin-top: 58px;
	font-size:22px;
	color: black; 
	border-bottom-style: double;  
	padding: 30px; 
	z-index:1; 
	background:url("https://i.pinimg.com/originals/53/15/0f/53150fac0eec44caa08030989d9562f8.gif");
	background-repeat:no-repeat;
	background-size: 100%;
}


#content{ 
	background:url("https://i.pinimg.com/originals/ba/e0/56/bae05698b68e2f340162102db66f364c.gif");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	margin-top: 0px; 
	text-align: center; 
	font-size: 25px;

}

#socmed{ 
	width:33.33%;
	float: left; 
	margin-bottom: 90px; 
	margin-top:50px;
}

#smig{
	border: 3px outset white; 
	text-align:center;
	margin: 10px 10px 10px 10px;

}
#smig:hover{
	color: #390e53;
	border: 3px outset #d7a7e6;
	background:url("../images/sprite.png") no-repeat -78px -73px;
	width:182px; 
	height:181px; 
	font-size: 0px;
}
#smig:active{
	border: 3px outset #d7a7e6;
	border-radius: 50%; 
}

#smfb{
	border: 3px outset white; 
	text-align:center;
	margin: 10px 10px 10px 10px; 

}

#smfb:hover{
	color: #390e53;
	border: 3px outset #d7a7e6;
	background:url("../images/sprite.png") no-repeat -292px -73px;
	width:182px; 
	height:181px; 
	font-size:0px; 
	
}
#smfb:active{
	border: 3px outset #d7a7e6;
	border-radius: 50%; 
}

#smno{
	border: 3px outset white; 
	text-align:center;
	margin: 10px 10px 10px 10px; 

}

#smno:hover{
	color: #390e53;
	border: 3px outset #d7a7e6;
	background:url("../images/sprite.png") no-repeat -78px -273px;
	width:182px; 
	height:181px; 
	font-size: 0px;

	
}
#smno:active{
	border: 3px outset #d7a7e6;
	border-radius: 50%; 
}
#smtg{
	border: 3px outset white; 
	text-align:center;
	margin: 10px 10px 10px 10px; 

}
#smtg:hover{
	color: #390e53;
	border: 3px outset #d7a7e6;
	background:url("../images/sprite.png") no-repeat -511px -269px;
	width:182px; 
	height:181px; 
	font-size: 0px;

	
}
#smtg:active{
	border: 3px outset #d7a7e6;
	border-radius: 50%; 
}

#smem{
	border: 3px outset white; 
	text-align:center;
	margin: 10px 10px 10px 10px; 

}
#smem:hover{
	color: #390e53;
	border: 3px outset #d7a7e6;
	background:url("../images/sprite.png") no-repeat -292px -273px;
	width:182px; 
	height:181px; 
	font-size: 0px;

	
}
#smem:active{
	border: 3px outset #d7a7e6;
	border-radius: 50%; 
}

#smtw{
	border: 3px outset white; 
	text-align:center;
	margin: 10px 10px 10px 10px; 

}
#smtw:hover{
	border: 3px outset #d7a7e6;
	background:url("../images/sprite.png") no-repeat -511px -73px;
	width:177px; 
	height:176px; 
	font-size: 0px;


	
}
#smtw:active{
	border: 3px outset #d7a7e6;
	border-radius: 50%; 
}

a{
	color:black;
}
audio{
	border: 5px outset pink;
}

footer{
	position: relative;
	top: 15px;
	padding: 20px; 
	text-align: center; 
	font-size: 15px; 
	background: white; 
	border-top-style: double; 
	clear:both;
}